{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
  <h2>Summary</h2>
  <p>I am currently a Data Scientist working on building custom generative AI solutions for business analytics at scale.<br>I previously worked as: a test engineer on L4 autonomous vehicles (motion control, motion planning, new program integration), and less excitingly as an application feature systems engineer (customer connectivity settings).
  </p>
  <h2>Tech Stack</h2>
  <ul>
    <li>Python<ul>
      <li>Scientific & Statistical Computing (numpy, scipy)</li>
      <li>Data handling (pandas, sqlite, sqlalchemy)</li>
      <li>Machine Learning (sci-kit, transformers, torch)</li>
      <li>Data Visualization & Dashboarding (plotly, seaborn, matplotlib)</li>
      <li>Serving & Logging (flask, gunicorn)</li>
      <li>Testing (pytest)</li>
    </ul></li>
    <br>
    <li>Ubuntu Linux<ul>
      <li>Shell</li>
      <li>System Monitoring</li>
      <li>Service Administration</li>
    </ul></li>
    <br>
    <li>Cloud<ul>
      <li>Databricks<ul>
        <li>MLFlow model deployment & serving</li>
      </ul></li>
      <li>Azure</li>
      <li>GCP <ul>
        <li>Compute Engine</li>
        <li>API Gateway</li>
      </ul>
    </li>
      <li>AWS<ul><li>Bedrock</li><li>EC2</li><li>Inferentia2 Model Serving</li></ul></li>
    </ul></li>
  </ul>

{% endblock %}