body {
    background-color: #272822;
    color: #f8f8f2;
    font-size: 24px;
    margin: 50px;
    font-family: 'Monaco';
}

h1 {
    margin: 10px;
    text-align: left;
    font-size: 128px;
}

p {
    margin: 50px;
    text-align: left;
    font-size: 24px;
}

.left-column {
    width: 80%;
}

.right-column {
    width: 20%;
    padding-left: 20px;
    color: #797979;
}

.right-column p {
    font-size: 20px;
}

.right-column img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
}

.container {
    display: flex;
}

a:link {
    color: #a6e22e;
}

a:visited {
    color: #f92672;
}

a:hover {
    color: #e87d3e;
}

.feedback-response {
    color: #0ab944;
}